body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

#title {
  color: #61baf1;
  padding-top: 10px;
}

.contant {
  background-color: white;
  width: 700px;
  text-align: center;
  margin: auto;
}

#