h1 {
  text-align: center;
}

.search {
  margin: auto;
  text-align: center;
}

body {
  background-color: black;
  wi
}

img {
   height: 10%;
   width: 30%;
   border: solid 5px;
   border-color: white;
  
}
p {
  position: absolute;
  color: yellow;
 
  display: flex;
  justify-content: center;
}

.container-img {
  display: inline-block;
  position: relative;
  
}
