/* > = FILHO DIRETO */

body > p {
  color: red;
}

/* ~ = IRMÃO */

p ~ div  {
 background: red;
}

div {
  position: absolute;
  /* top: 300px; ACIMA */
  /* left: 300px; ESQUERDA */
  bottom: 50px; /* EMBAIXO */
  right: 50px; /* EMBAIXO */
}